* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-size: 14px; padding: 10px; --input-height: 32px; --input-radius: 4px}
a {text-decoration: none;} li, ol { list-style: none; }
.hide,.hidden{display: none;}
.ftl{float: left;}
.ftr{float: right;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.text-center { text-align: center; }
.text-right { text-align: right; }
button, input, select, textarea { outline: none; font-size: inherit; transition: border-color .2s cubic-bezier(.645,.045,.355,1); }
input:focus, select:focus, textarea:focus { outline: none; border-color: #409eff; }
input, select { -webkit-appearance: none; background-color: #fff; border-radius: var(--input-radius); border: 1px solid #dcdfe6;  color: #333;  display: inline-block; 
  height: var(--input-height); line-height: var(--input-height); padding: 0 10px;  width: 100%; position: relative; }
textarea { display: block; resize: vertical; padding: 4px 10px; line-height: 1.5; color: #333; border: 1px solid #dcdfe6; border-radius: var(--input-radius); width: 100%;}
input[type="file"]::file-selector-button{  background-color: #409eff; color: #FFFFFF; border-radius: var(--input-radius); border: 0px; height: 24px; padding: 0 10px; }
select, input[type="file"] { cursor: pointer; }
select{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAH1JREFUOE9jZCATMJKpj2Goapw5c+aqf//+XcvMzGxA9vvMmTPTGBgYXNLT08Ng4hh+nDlz5sZ///6dh2mePn16AxMTk2F6ero/smFYA2fmzJkX/v37twGkkImJKSA9Pd0APfRxhuqsWbPegxSnpaUJYouyoRodpCQ/sv0IAIhkJA+qwThhAAAAAElFTkSuQmCC) no-repeat; 
  background-position: calc(100% - 3px) center; background-size: 15px 15px;}
button, .btn { display: inline-block; white-space: nowrap;  cursor: pointer;  background: #fff;  border: 1px solid #dcdfe6;  color: #333;  -webkit-appearance: none;
  text-align: center;  user-select: none; height: var(--input-height); line-height: var(--input-height); padding: 0px 10px; border-radius: var(--input-radius); }
button[primary], .btn[primary] { background: #409eff; color: #fff; border-color: #409eff; }
button[danger], button[error], .btn[danger], .btn[error] { background: #f56c6c; color: #fff; border-color: #f56c6c; }
button[success], .btn[success] { background: #67c23a; color: #fff; border-color: #67c23a; }
button[warning], .btn[warning] { background: #e6a23c; color: #fff; border-color: #e6a23c; }
button:hover, .btn:hover { opacity: .9; }
button+button, .btn+.btn, .btn+button, button+.btn { margin-left: 10px; }
.primary { color: #409eff; }
.danger, .error { color: #f56c6c; }
.warning { color: #e6a23c; }
.success { color: #67c23a; }